iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;

  & h1 {
    color: red;
    font-size: 4rem;
  }
}

main,
section,
div,
textarea,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: transparent;
}

/* #terms-iframe {
  background-color: transparent;

  & h1 {
    color: red;
    font-size: 4rem;
  }
} */
